@font-face {
    font-family: font-1-1791;
    src: url(../font/font-1.woff2);
}

@font-face {
    font-family: font-2-1791;
    src: url(../font/font-2.woff2);
}

@font-face {
    font-family: font-3-1791;
    src: url(../font/font-3.woff);
}

@font-face {
    font-family: font-4-1791;
    src: url(../font/font-4.woff);
}