*{

}

.div-1 {
    position: fixed;
    width: 100px;
    height: 100px;
    background: red;
    z-index: 9;
    right: 0;
    bottom: 0;
}

.div-2 {
    position: static;
    width: 200px;
    height: 250px;
    background: green;
}

.div-3 {
    position: sticky;
    width: 250px;
    height: 200px;
    background: yellow;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.div-4 {
    position: relative;
    width: 200px;
    height: 1000px;
    background: black;
    margin: auto;
}
.div-5 {
    position: absolute;
    width: 200px;
    height: 100px;
    background: sienna;
    top: 10px;
    z-index: 4;
}